
html *
{
   font-family: 'Playfair Display', serif;
   
}
body 
{
   background-color: #2A96D7;
}

.formH1
{
  font-weight: bold; 

}
.height_mm
{
   height: 130px;



}
.fakeimg
{
   background-image: url("/PHP_boot/proj_ljujic/img/slika.png");
   height: 200px;
   background-repeat: no-repeat;
   background-size: contain;


}