#formH1
{
  font-weight: bold;
  color: white;
  margin-top: 20px;
}

.heightMM
{
   height: 130px;
}

.homeH1
{
   color: white;
   position: absolute;   
   font-weight: bold;
   margin-left: 10px;
   font-size: 50px;
}

#formImg
{
   background-image: url('/PHP_boot/proj_ljujic/img/cilim.png');
   background-repeat: no-repeat;
   background-size: cover;
   height: calc(100% - 152px);
   color: white;
   font-weight: bold;
}

#iHome
{
   background-image: url('/PHP_boot/proj_ljujic/img/zlatar.png');
   background-size: cover;
   background-repeat: no-repeat;
   height: calc(100vh - 96px);
   width: 100%;
}

